.App {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

.form h6 {
    color: red;
}

.chat-app {
    height: 420px;
}

.chat-app .chat-body {
    height: calc(450px - (45px + 70px));
}

.messages {
    display: flex;
    overflow-wrap: break-word;
  word-break: break-word;
}

#you {
    justify-content: flex-start;
}

#other {
    justify-content: flex-end;

}

#you td {
    background: #4CAF50;
    border-radius: 20px;
    color: white;
    padding: 6px;
}

#other td{
    background: rgb(69, 169, 231);
    border-radius: 20px;
    color: white;
    padding: 6px;
}

.chat-send {
    margin-top: 20px;
}


.chat-send input {
    height: 26px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 4px;
}

.chat-send button {
    border-radius: 20px;
    border-width: 0.1px;
    border: none;
    height: 30px;
    width: 80px;
    background-color: #4CAF50;
    padding: 4px;
    color: white;
}

.message-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    border: 1px solid #8ea3ad;
    background: #fff;
    padding: 6px;
    
}

.message-container::-webkit-scrollbar {
    display: none;
}